.carousel {
  box-sizing: border-box;
  max-width: 500px;
  align-items: center;
  display: flex;
}

.card {
  display: inline-block;
  max-width: 90%;
}

.card img {
  max-width: 100%;
}

.arrow {
  display: inline-block;
}
